.timeline-container{
	margin: 100px;
}

.time-line{
	position: relative;
}

.time-line .time-bar{
	position: relative;
	width: 2px;
	background: black;
	display: inline-block;
}

.time-line .time-text{
	display: inline-block;
	position: absolute;
	left: 10px;
	top: -8px;
}


.time-line .time-bar::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #8c8c8c;
  left: -4px;
  top: 0px;
};